[submodule "external/rpg_vid2e"]
	path = external/rpg_vid2e
	url = https://github.com/Telios/rpg_vid2e.git
[submodule "dreamerv3"]
	path = dreamerv3
	url = https://github.com/Telios/dreamerv3.git
[submodule "external/IEBCS"]
	path = external/IEBCS
	url = https://github.com/Telios/IEBCS.git
